<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title th:text="${list.name}">list name</title>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newListForm">New list</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#shoppingListContent"
            aria-controls="shoppingListContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-3" id="shoppingListContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a th:href="@{/mylists}" class="nav-link">My lists</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/sharedwithme}" class="nav-link">Shared with me</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
        <span class="navbar-text mr-sm-4" th:text="${user.username}">Username</span></li>
        <li class="nav-item"><a th:href="@{/logout}" class="btn btn-outline-danger col-sm">Log Out</a></li>
      </ul>
    </div>
  </nav>

<!--New list modal-->
  <div class="modal fade" id="newListForm" tabindex="-1" role="dialog" aria-labelledby="newListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newListTitle">Create a new list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#" th:action="@{/mylists/create}" th:object="${newList}" method="post">
            <div class="form-group">
              <label for="newListName">List name</label>
              <input class="form-control" id="newListName" placeholder="E.g Groceries" th:field="*{name}" type="text">
            </div>
            <div class="form-group">
              <label for="listDescription">Description</label>
              <input class="form-control" id="listDescription" placeholder="E.g The grocery list for this week"
                     th:field="*{description}" type="text">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!--Share List Modal-->
  <div class="modal fade" id="addPermittedEditor" tabindex="-2"
       role="dialog" aria-labelledby="addPermittedEditor" aria-hidden="true">
      <div class="modal-dialog modal-dialog-top" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shareListTitle">Share List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#" th:action="@{{currentUri}/add-permitted-editor(currentUri=${#request.requestURI})}"
                  th:object="${sharedUser}" method="post">
              <div class="form-group">
                <label for="usernameToShareWith">username</label>
                <input class="form-control" id="usernameToShareWith" type="text" th:field="*{username}">
              </div>
              <button type="submit" class="btn btn-secondary">Share</button>
            </form>
          </div>
        </div>
      </div>
  </div>

<!--Main content-->

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4" th:text="${list.name}">List name</h1>
      <p class="lead" th:text="${list.description}">List description</p>
      <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#addPermittedEditor">Share</button>
      <br>
      <span class="lead" th:if="${permittedEditors.size() > 0}">Shared with:</span>
      <span class="lead" th:each="permittedEditor : ${permittedEditors}" th:text="' ' + ${permittedEditor.username}">a b c</span>
    </div>

      <form method="post" th:action="@{{currentUri}/add-item(currentUri=${#request.requestURI})}" th:object="${newListItem}">
        <div class="form-row mb-4">
          <div class="col-sm-1 col-md-2 col-lg-2 mr-lg-5"></div>

          <div class="col-6 col-sm-4 col-md-3 col-lg-3">
            <label for="itemName" class="sr-only">Item name</label>
            <input type="text" class="form-control" id="itemName" placeholder="Item name" th:field="*{name}">
          </div>

          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <label for="itemQuantity" class="sr-only">Number of items</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Qty</div>
              </div>
              <input class="form-control" id="itemQuantity" min="1" th:field="*{quantity}" type="number">
            </div>
          </div>

          <div class="col-12 col-sm-2 col-lg-1">
            <button class="btn btn-primary btn-block mt-2 mt-sm-0" type="submit">Add</button>
          </div>

        </div>
      </form>
    <hr>
    <div class="row align-items-center" th:if="${list.items.size() == list.numberOfCompletedItems()}">
      <div class="col-lg-12">
        <h2 class="text-center text-success">
          All done!
        </h2>
      </div>
      <div class="col-lg-12 mt-4 mb-5 text-center">
        <form th:action="@{{currentUri}/delete(currentUri = ${#request.requestURI})}" method="post">
          <button class="btn btn-warning">Delete List?</button>
        </form>
      </div>
    </div>

    <h5 class="text-center pb-2" th:if="${list.numberOfIncompleteItems() > 0}">
      Remaining Items
    </h5>
    <ul class="list-group">
      <li class="list-group-item" th:each="item : ${list.items}" th:if="${item.complete} == false">
        <div class="row align-items-center">
          <div class=""></div>
          <div class="col-5"><span class="font-weight-bold" th:text="${item.name}">Item name</span></div>
          <div class="col-4">
            <span class="font-weight-bold">Qty. </span><span class="font-weight-bold" th:text="${item.quantity}">2</span>
          </div>
          <div class="col-3">
            <form th:action="@{{currentUri}/items/{itemid}/mark-done(currentUri = ${#request.requestURI},itemid = ${item.id})}"
                  method="post">
              <button class="btn btn-outline-success float-right" type="submit">Done</button>
            </form>
          </div>
        </div>
      </li>
    </ul>
    <h5 class="text-center pb-2 mt-4 mb-3" th:if="${list.numberOfCompletedItems() > 0}">
      Completed Items
    </h5>
    <ul class="list-group">
      <li class="list-group-item" th:each="item : ${list.items}" th:if="${item.complete}">
        <div class="row align-items-center">
          <div class="col-10"><span class="font-weight-bold" th:text="${item.name}">Item name</span></div>
          <div class="col-2">
            <span class="font-weight-bold">Qty. </span><span class="font-weight-bold" th:text="${item.quantity}">2</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>